@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');
/*font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;  
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;   
    position: relative;      
}
.header {
    padding-top: 1.25rem;
    padding-left: 1.875rem; 
    background-color: #172a55;
    padding-bottom: 1.25rem;
    
}

img{
    max-width: 100%;
}
.container {
    max-width: 100vw;
    margin: 0 auto;
}
.header {
    padding-left: 1.875rem; 
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar{
    display: flex;
}
.navbar ul li {
    padding: 0 1.25rem;
}
.menu .navbar ul {
    display: flex;
    margin-left: auto;
}
.menu .navbar ul li {
    position: relative;
}
.menu .navbar ul li a {
    display: flex;
    font-size: 1.5625rem;
    padding: 1.25rem;
    color: white;
    display: block;
    font-family: 'Playfair Display', serif;
}

.logo{
    width: 100%;
    max-width: 6.25rem;
    height: auto;
    transform: translateX(1.875rem);
}
#menu {
    display: none;
}
.menu label {
    cursor: pointer;
    display: none;
}
/*thanks*/

.thank-you-page {
    text-align: center;
    padding: 18.75rem; /* 300px / 16 = 18.75rem */
    background-color: #ffffff; /* El color de fondo que ya estás utilizando */
}

.thank-you-page h1 {
    color: #1d2536; /* Un color que contraste con el fondo */
}

.thank-you-page p {
    color: #1d2536; /* Un color más suave para el texto */
}

.btn-primary {
    background-color: #11358A; /* Un color que ya estás utilizando */
    color: #ffffff;
    padding: 0.625rem 1.25rem; /* 10px / 16 = 0.625rem, 20px / 16 = 1.25rem */
    text-decoration: none;
    display: inline-block;
    margin-top: 1.25rem; /* 20px / 16 = 1.25rem */
    border-radius: 0.3125rem; /* 5px / 16 = 0.3125rem */
}

.btn-primary:hover{
    background-color: #219BF9;
}


/* Reglas base para el footer */
.site-footer {
    padding: 1rem 0; /* Reduce el padding vertical para disminuir la altura */
    background-color: #1d2536;
    color: #fff;
    font-size: 0.9375rem; /* 15px */
    clear: both;
}

.site-footer .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem; /* Reduce el padding horizontal */
    max-width: 90vw;
   
}

.footer-content,
.footer-social {
    margin-bottom: 0.5rem; /* Reduce el margen para disminuir la altura */
}

.footer-content h3,
.footer-social h3 {
    margin-bottom: 0.5rem; /* Reduce el margen */
    margin-left: 3.5rem;
}

.footer-content p,
.footer-social a {
    margin-bottom: 0.5rem; /* Reduce el margen */
    margin-left: 3.5rem;
}

.footer-social a {
    display: block;
    margin-bottom: 0.25rem; /* Reduce el margen */
    color: #fff;
    text-decoration: none;
}

.footer-social a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    width: 100%;
    padding-top: 1rem; /* Reduce el padding superior */
    margin-top: 0.5rem; /* Reduce el margen superior */
    max-height: auto; /* Ajuste para permitir que el contenido defina la altura */
}

@media only screen and (max-width: 480px) {
    .header {
        padding-top: 0.5rem; /* Reduce aún más el padding superior */
        padding-left: 0.5rem; /* Reduce el padding izquierdo */
    }
    .navbar ul li {
        padding: 0 0.25rem; /* Espaciado más estrecho en la navegación */
    }
    .menu .navbar ul li a {
        font-size: 0.9rem; /* Tamaño de fuente más pequeño para los enlaces */
    }
    .logo {
        max-width: 3rem; /* Tamaño más pequeño del logo */
        transform: translateX(0.5rem);
    }
    
    
    .thank-you-page {
        padding: 9rem 1rem; /* Ajustar el padding superior e inferior, y reducir el lateral */
    }

    .thank-you-page h1 {
        font-size: 1.65rem; /* Ajustar el tamaño de la fuente para que sea legible en dispositivos móviles */
    }

    .thank-you-page p {
        font-size: 1.2rem; /* Ajustar el tamaño de la fuente del párrafo */
    }

    .btn-primary {
        padding: 0.5rem 1rem; /* Ajustar el padding del botón */
        margin-top: 1rem; /* Reducir el margen superior del botón */
    }

    .footer-content, .footer-social {
        flex-direction: column;
        align-items: center;
    }
}






/* Estilos para tablets (incluyendo iPad Pro) */
@media only screen and (min-width: 481px) and (max-width: 1366px) {

  
    .header {
        padding-top: 1.5rem; /* Ajustar el padding */
        padding-left: 1.5rem;
    }menu .navbar ul li a {
        font-size: 1.7rem; /* Ajustar tamaño de fuente */
        padding: 0.75rem; /* Ajustar padding */
    }
    .logo {
        max-width: 6rem; /* Aumenta el tamaño del logo */
        transform: translateX(1.5rem); /* Ajusta la posición del logo */
    }
    

    .thank-you-page {
        padding: 22rem 2rem; /* Ajustar el padding para pantallas medianas */
    }

    .thank-you-page h1 {
        font-size: 2.5rem; /* Ajustar el tamaño de la fuente para pantallas medianas */
    }

    .thank-you-page p {
        font-size: 1.25rem; /* Ajustar el tamaño de la fuente del párrafo */
    }

    .btn-primary {
        padding: 0.5rem 1.25rem; /* Ajustar el padding del botón */
        margin-top: 1.25rem; /* Ajustar el margen superior del botón */
    }



    .site-footer .contenedor {
        flex-direction: row; /* Cambia a disposición en fila */
        align-items: start; /* Alinea los elementos al inicio */
        padding: 4rem; /* Aumenta el padding */
       
    }

    .footer-bottom {
        padding-top: 2rem; /* Aumenta el padding superior */
    }
}
